Schema's/schema_XML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TrumpAPI" type="TrumpAPIType"/>
  <xs:complexType name="DataType">
    <xs:sequence>
      <xs:element type="xs:long" name="ID"/>
      <xs:element type="xs:string" name="Person"/>
      <xs:element type="xs:string" name="Text"/>
      <xs:element type="xs:dateTime" name="Date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrumpAPIType">
    <xs:sequence>
      <xs:element type="DataType" name="Data"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>