public/Schema/schema_XML_put_debates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="speaker"/>
        <xs:element ref="text"/>
        <xs:element ref="date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="speaker" type="xs:integer"/>
  <xs:element name="text" type="xs:integer"/>
  <xs:element name="date" type="xs:integer"/>
</xs:schema>
